@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

/* font-family: 'Roboto', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* Logo/Text */
header{
    height: 100vh;
    background-image: url("../img/ilustracion1.png");
    background-size:50%;
    background-repeat: no-repeat;
    background-position: right top;
}



section{
    display: flex;
    justify-content: space-between;
}

.logo{
    display:flex;
    margin-left:3%;
    padding-top: 3%;
}

.logo img{
    position:fixed;
    height:5vh;
    /* margin-right: 20px; */
}


.logoText{
    display: flex;
    flex-direction: column;
    margin-left: 6vh;
    height: 5vh;
}

.illustration img{
    height: 80vh;
    animation: falling 2s ease-in-out;
    position: relative;
}

@keyframes falling{
    from{top: 0px;}
    to{top: 20px;}
}


.firstPage{
    display: flex;
    flex-direction: row-reverse;
}   

.heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

h1{
    font-size: 4.2em;
    padding-bottom: 25px;
}

.heading p:first-of-type{
    font-size: 1.5em;
    padding-bottom: 25vh;
}

.heading p:first-of-type > img{
    height: 25px;
}


.heading p:nth-child(3){
    padding-right: 71%;
    color: #ff3571;
    font-weight: 600;
}

.page2 img{
    width: 100vw;
}
